<div class="ui basic right aligned segment">
  <div class="ui blue large label">
    <div class="detail"><%= @contacts.count %></div>
    Contact(s)
  </div>
</div>

<% letter=nil %>
<div class="ui very relaxed list">
  <% @contacts.each do |contact| %>
    <% if contact.first_name[0] != letter %>
      <% letter = contact.first_name[0] %>
      <div class="ui horizontal divider">
        <a href="#top" class="ui label"><div class="text">Top</div></a>
      </div>
      <div class="ui blue ribbon large label" id="<%= letter.upcase %>"><strong><%= letter.upcase %></strong></div>
    <% end %>
  <div class="item">
    <i class="user icon"></i>
    <div class="content">
      <%= link_to contact.full_name, contact, :class => "header" %>
      <div class="description"><%= contact.job %></div>
    </div>
  </div>
  <% end %>
</div>