<%= form_for(@contact, :html => { :class => "ui error form segment" }) do |f| %>
  <% if @contact.errors.any? %>
	<div class="ui error message">
      <div class="header"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</div>
      <ul class="list">
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <div class="ui selection dropdown">
      <%= f.hidden_field :title %>
      <div class="default text">Select title</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value="Mr">Mr</div>
        <div class="item" data-value="Ms">Ms</div>
      </div>
    </div>	
  </div>
  <div class="field">
	<%= f.label :first_name %>
	<div class="ui input">
	    <%= f.text_field :first_name %>
		<div class="ui orange corner label">
	      <i class="icon asterisk"></i>
	    </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <div class="ui input">
	    <%= f.text_field :last_name %>
		<div class="ui orange corner label">
	      <i class="icon asterisk"></i>
	    </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :job_title %>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  
  <h3 class="ui dividing header">Emails</h3>
  <div id="email-list">  
    <%= render :partial => 'emails/form',
               :locals => {:form => f} %>
  </div>
  <a id="addemail">Add eMail</a>
  
  <h3 class="ui dividing header">Phones</h3>
  <div id="phone-list">  
    <%= render :partial => 'phones/form',
               :locals => {:form => f} %>
  </div>
  <a id="addphone">Add phone</a>
  
  <h3 class="ui dividing header">Addresses</h3>
  <div id="address-list">  
    <%= render :partial => 'addresses/form',
               :locals => {:form => f} %>
  </div>
  <a id="addaddress">Add address</a>
  
  <div class="ui center aligned basic segment">
    <div class="ui buttons">
      <% if @contact.new_record? %>
        <%= link_to "Cancel", root_path, :class => "ui button" %>
      <% else %>
        <%= link_to "Cancel", @contact, :class => "ui button" %>
      <% end %>
      <div class="or"></div>	
        <%= submit_tag "Save", :class => "ui blue submit button" %>
    </div>
  </div>
<% end %>