<h1 class="ui center aligned header">
  <div class="content">
    Contacts
    <div class="sub header">Manage your contacts.</div>
  </div>
</h1>

<div class="ui basic center aligned segment">
  <%= link_to raw("#{content_tag(:i, "", class: "user icon")} New Contact"), new_contact_path, :class => "ui blue labeled icon small button" %>
</div>

<%= form_tag contacts_path, :method => 'get', :id => "contact_search", :class => "form-search" do %>
  <div class="ui left icon big fluid input">
    <%= text_field_tag :search, params[:search], :class => "search-query", :placeholder => "Search", :autocomplete => "off" %>
    <i class="search icon"></i>
  </div>
<% end %>

<div class="ui basic center aligned segment">
  <div class="ui horizontal bulleted list">
    <% ('A'..'Z').to_a.each do |c| %>
      <%= link_to c, "##{c}", :class => "item" %>
    <% end %>
  </div>
</div>

<div id="contacts">
  <%= render 'contacts' %>
</div>
