<% if notice %>
<div class="ui success message">
  <i class="close icon"></i>
  <div class="header">
    <%= notice %>
  </div>
</div>
<% end %>

<div class="ui piled center aligned segment">
  <%= link_to content_tag(:i, "", :class => "trash icon"), @contact, method: :delete, data: { confirm: 'Are you sure?' }, :title => "Delete", :class => "ui trash corner label" %>
  <div class="content">
    <h3 class="ui icon header">
		<i class="circular user icon"></i>
		<div class="content">
			<%= @contact.full_name %>
			<div class="sub header"><%= @contact.job %></div>
		</div>
	</h3>
  </div>
  <div class="ui basic segment">
	<div class="ui buttons">
		<%= link_to "Back to list", root_path, :class => "ui button" %>
		<div class="or"></div>	
	    <%= link_to 'Edit', edit_contact_path(@contact), :class => "ui orange button" %>
	</div>
  </div>
</div>