<p id="notice"><%= notice %></p>

<div class="ui piled center aligned segment">
  <a class="info letter ui corner label">
	<i class="info letter icon"></i>
  </a>
  <div class="content">
    <h3 class="ui icon header">
		<i class="circular user icon"></i>
		<div class="content">
			<%= @contact.full_name %>
			<div class="sub header"><%= @contact.job %></div>
		</div>
	</h3>
  </div>
  <div class="ui basic segment">
	<div class="ui buttons">
		<%= link_to "Back to list", root_path, :class => "ui button" %>
		<div class="or"></div>	
	    <%= link_to 'Edit', edit_contact_path(@contact), :class => "ui orange button" %>
	</div>
  </div>
</div>